version: '3'

services:
  web:
    image: jitsi/web:stable-8719
    restart: unless-stopped
    volumes:
      - ${CONFIG}/web:/config
      - ${CONFIG}/web/letsencrypt:/etc/letsencrypt
      - ./web:/usr/share/jitsi-meet
    environment:
      - ENABLE_XMPP_WEBSOCKET=1
      - ENABLE_COLIBRI_WEBSOCKET=1
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_BOSH_URL_BASE=http://localhost:5280
      - XMPP_GUEST_DOMAIN=${XMPP_GUEST_DOMAIN}
      - XMPP_MUC_DOMAIN=${XMPP_MUC_DOMAIN}
      - XMPP_RECORDER_DOMAIN=${XMPP_RECORDER_DOMAIN}
      - ENABLE_LETSENCRYPT=${ENABLE_LETSENCRYPT}
      - LETSENCRYPT_DOMAIN=${LETSENCRYPT_DOMAIN}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - PUBLIC_URL=${PUBLIC_URL}
      - TZ=${TZ}
    ports:
      - "80:80"
      - "443:443"
    networks:
      - jitsi-network

  prosody:
    image: jitsi/prosody:stable-8719
    restart: unless-stopped
    volumes:
      - ${CONFIG}/prosody:/config
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_GUEST_DOMAIN=${XMPP_GUEST_DOMAIN}
      - XMPP_MUC_DOMAIN=${XMPP_MUC_DOMAIN}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN}
      - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET}
      - JICOFO_AUTH_USER=${JICOFO_AUTH_USER}
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
      - JVB_AUTH_USER=${JVB_AUTH_USER}
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
      - TZ=${TZ}
    networks:
      - jitsi-network

  jicofo:
    image: jitsi/jicofo:stable-8719
    restart: unless-stopped
    volumes:
      - ${CONFIG}/jicofo:/config
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN}
      - XMPP_SERVER=${XMPP_SERVER}
      - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET}
      - JICOFO_AUTH_USER=${JICOFO_AUTH_USER}
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
      - JVB_BREWERY_MUC=${JVB_BREWERY_MUC}
      - TZ=${TZ}
    depends_on:
      - prosody
    networks:
      - jitsi-network

  jvb:
    image: jitsi/jvb:stable-8719
    restart: unless-stopped
    volumes:
      - ${CONFIG}/jvb:/config
    ports:
      - "10000:10000/udp"
    environment:
      - DOCKER_HOST_ADDRESS=${DOCKER_HOST_ADDRESS}
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN}
      - XMPP_SERVER=${XMPP_SERVER}
      - JVB_AUTH_USER=${JVB_AUTH_USER}
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
      - JVB_BREWERY_MUC=${JVB_BREWERY_MUC}
      - JVB_PORT=${JVB_PORT}
      - TZ=${TZ}
    depends_on:
      - prosody
    networks:
      - jitsi-network

networks:
  jitsi-network:
    driver: bridge
    name: jitsi_network
